*{margin:0; padding:0; border:0;}
ul,li {list-style:none;}
a {text-decoration:none; font-family:'Noto Sans', '맑은 고딕', 'Malgun Gothic', 'AppleGothic',sans-serif;}
.cf:after{content:''; display:block; clear:both;}
.hidden{display:block; font-size:0; width:1500px; height:0px; position:absolute; left:-100%; text-indent:-555555px;}
.gray{color:#aaaaaa;}

section{width: 1420px; height: 2500px; margin:0 auto;}
/* 관리자 회원 목록보기(admin_list.php) */
#admin_box { width: 1200px; margin: 0 auto;}
#admin_box h3#member_title { margin: 30px 0 10px 0;}
#member_list { margin: 10px 0 30px 0;}
#member_list li:nth-child(1) { font-weight: bold; border-top: solid 2px #dddddd; border-bottom: solid 2px #dddddd; background-color: #eeeeee;}
#member_list li { border-bottom: solid 1px #dddddd; height: 60px; }
#member_list li > div {text-align: center; line-height: 60px;}



#member_list li .col1{display: inline-block;  line-height: 60px;  text-align: center; width: 80px; height: 60px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
#member_list li .col2{display: inline-block;  line-height: 60px;  text-align: center;  width: 100px; height: 60px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
#member_list li .col3{display: inline-block;  line-height: 60px;  text-align: center;  width: 80px; height: 60px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
#member_list li .col4{display: inline-block;  line-height: 60px;  text-align: center;  width: 80px; height: 60px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
#member_list li .col5{display: inline-block;  line-height: 60px;  text-align: center;  width: 80px; height: 60px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
#member_list li .col6{display: inline-block;  line-height: 60px;  text-align: center;  width: 170px; height: 60px;  text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
#member_list li .col7{display: inline-block;  line-height: 60px;  text-align: center;  width: 70px; height: 60px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
#member_list li .col8{display: inline-block;  line-height: 60px;  text-align: center;  width: 70px; height: 60px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}

#member_list li input { width: 40px; height: 20px; text-align: center;}
#member_list li button { padding: 3px 10px;}

#admin_box h3#board_title { margin: 30px 0 10px 0;}

#board_list .col1 {display: inline-block;  line-height: 60px;  text-align: center;  width: 50px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
#board_list .col2 {display: inline-block;  line-height: 60px;  text-align: center;  width: 60px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
#board_list .col3 {display: inline-block;  line-height: 60px;  text-align: center;  width: 80px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
#board_list .col4 {display: inline-block;  line-height: 60px;  text-align: center;  width: 340px; text-align: left; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
#board_list .list_title {display: inline-block;  line-height: 60px;  text-align: center;  width: 340px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
#board_list .col5 {display: inline-block;  line-height: 60px;  text-align: center;  width: 120px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
#board_list .col6 {display: inline-block;  line-height: 60px;  text-align: center;  width: 120px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
#board_list li.title { font-weight: bold; border-top: solid 2px #dddddd; border-bottom: solid 2px #dddddd; background-color: #eeeeee; }
#board_list li.title span.col4 { text-align: center; }
#board_list li {border-bottom: solid 1px #dddddd; }
#board_list span { display: inline-block; text-align: center; }
#board_list button { margin: 20px 0 0 20px; padding: 5px 10px;}
