/* 초기화코드 */
*{margin:0; padding:0; border:0;}
ul,li {list-style:none;}
a {text-decoration:none; font-family:'Noto Sans', '맑은 고딕', 'Malgun Gothic', 'AppleGothic',sans-serif;}
.cf:after{content:''; display:block; clear:both;}
.hidden{display:block; font-size:0; width:1500px; height:0px; position:absolute; left:-100%; text-indent:-555555px;}
.gray{color:#aaaaaa;}

/* 섹션 */
section{width:100%; height:1500px;}
#section{width:100%; height:1500px;}

#section_wrap{width:1420px; height:1500px; margin:0 auto; background:#ffffff;}
.contents{width:1420px; height:1500px; margin:0 auto; background:#ffffff;}
	.content_header{width:1420px; height:300px; background: #bffcf4;background: -moz-linear-gradient(45deg, #bffcf4 0%, #8cffe2 31%, #00c0d6 100%); background: -webkit-linear-gradient(45deg, #bffcf4 0%,#8cffe2 31%,#00c0d6 100%); background: linear-gradient(45deg, #bffcf4 0%,#8cffe2 31%,#00c0d6 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bffcf4', endColorstr='#00c0d6',GradientType=1 ); }
		.content_header h2{font-size:30px; }

	.content_wrap{width:1420px; height:1200px;}
		.content_tab{float:left; width:300px; height:1200px; background:#ffffff;}
			.content_tab ul{position:relative; top:100px; left:90px;}
			.content_tab ul li{width:180px; height:100px; position:absolute; background:#ffffff; text-align:center; border-left:30px solid #b30000; box-shadow:-3px 3px 5px #444444; cursor:pointer;}
			.content_tab ul li.tab1{top:50px;}
			.content_tab ul li.tab2{top:160px;}
			.content_tab ul li.tab3{top:270px;}
			.content_tab ul>li.message_on{border-left:50px solid #0000b3; background:#ffffff; width:200px; left:-40px; }
			.content_tab ul>li.message_on a{ color:#111111; }
			.content_tab ul li a{color:#333333; font-size:22px; font-weight:bold; line-height:100px; height:150px; padding:35px; }



		.content{float:left; width:1120px; height:1200px; background:#ffffff; position:relative;}
		.form_header{width:100%; height:150px; box-sizing:border-box; background:#ffffff; background-image:url(../images/chat_icon.png); background-size:140px; background-repeat:no-repeat; line-height:100px; border-top:5px solid #333333; border-bottom:2px solid #222222; background-position:right bottom; }
		.form_header>h3{display:block; margin-top:10px; height:30px; color:#333333; font-size:28px; text-shadow:1px 2px 3px #222223; text-indent:90px;}
		.form_header>p{display:block; color:#888888; font-size:20px; text-shadow:1px 1px 3px #aaaaaa; text-indent:105px;}



	.form_content{width:1000px; box-sizing:border-box; height:1000px; position:absolute; left:60px; bottom:25px;background:#eeeeee;}

	#message_box h3 { margin-top: 30px;	padding: 10px; border-bottom: solid 2px #516e7f; font-size: 20px; }
	#write_msg { padding: 0 20px; }
	#write_msg span { display: inline-block; }
	#write_msg .col1 { width: 150px; }
	#write_msg li {	padding: 12px; border-bottom: solid 1px #dddddd; }
	#write_msg input { width: 500px; height: 25px; }
	#write_msg textarea { width: 500px;	height: 150px; }
	#write_msg #text_area {	position: relative;	height: 158px; }
	#write_msg #text_area .col1 { position: absolute; top: 10px; }
	#write_msg #text_area .col2 { position: absolute; left: 166px; }
	#write_msg button {	margin: 15px 0 30px 580px;	padding: 5px 23px; cursor: pointer; }
	/* 수신/송신 쪽지함(message_form.php) */
	#message li { padding: 10px; border-bottom: solid 1px #dddddd; }
	#message li:nth-child(1) { font-weight: bold; }
	#message span {	display: inline-block; text-align: center; }
	#message .title { font-weight: bold; }
	#message .col1 { width: 80px; }
	#message .col2 { width: 410px; text-align: left; }
	#message .col3 { width: 120px; }
	#message .col4 { width: 150px; }
	#page_num {	text-align: center;	margin: 30px 0 }
	#page_num li { display: inline; }

	/* 쪽지함 보기(view_msg.php) */
	#message_box { width: 800px; margin: 0 auto; }
	#message_box .title { margin-top: 30px; padding: 10px; border-bottom: solid 2px #516e7f; font-size: 20px; }
	#view_content li:nth-child(1) {	padding: 15px; border-bottom: solid 1px #aaaaaa; }
	#view_content .col2 { float: right; }
	#view_content li:nth-child(2) {	padding: 15px 15px 80px 15px; border-bottom: solid 1px #cccccc; }
	#view_content li:nth-child(3) button { padding: 5px 20px; margin: 15px 0 40px 720px; cursor: pointer; }
































