*{margin:0; padding:0;}
html{overflow-y:scroll;}
body{font-family: '맑은 고딕', '돋움', sans-serif; }
img{border:0;}
ul ,ol ,li{list-style:none; text-decoration:none;}
#wrap{width:1420px; height:1300px; margin:0 auto; background:#aaaaaa; }

/* body{background:url(../images/abac05.png) no-repeat center top; opacity:0.8; } */

#header{width:1420px; height:160px; background:#234111;}
	#top_header{width:1420px; height:45px; background:#444444;}
	#bottom_header{width:1420px; height:115px; background:#999999;}
#section{width:1420px; height:1134px; background:#121121; margin:5px 0 5px 0;}
	#body_menu{width:300px; height:1134px; background:#cacad9; float:left;}
		.menu_tab1{width:268px; height:180px; background:#aaaaaa; border:1px solid #535362; margin:40px 0 0 13px;}
		.menu_tab2{width:268px; height:90px; background:#aaaaaa; border:1px solid #535362; margin:0px 0 0 13px;}
	#body_search{width:1120px; height:1134px; background:#757584; float:left;}
#footer{width:1420px; height:230px; background:#666666;}