body{background:url(../abac04.png) no-repeat center top; /* opacity:0.8; */}
/* /body{background:green;}  */
html{overflow-y:scroll;}
*{margin:0; padding:0; border:none;}
ul,ol,li {list-style:none;}
a{text-decoration:none;}
.fl{float:left;}
.fl{float:right;}
.cf:after{content:''; display:block; clear:both;}
.hidden{position: absolute; overflow:hidden; text-indent:-555555em; font-size:0;}

/* 헤더 */
header{width:100%; height:155px; /* background:#ffffff; */}
#header{width:1420px; height:155px; background:#698c00; margin:0 auto; }

	/* 헤더윗부분 */
	#topheader{background:linear-gradient(to right, rgba(107, 100, 190, 1) 0%, rgba(107, 100, 190, 1) 30%, rgba(0, 175, 81, 1) 73%, rgba(0, 175, 81, 1) 100%); height:50px; }
		/* 왼쪽이동메뉴 */
		.libraryfind{width:250px; float:left; padding:10px 10px 10px 10px; /* margin-left:10px;  */font-size:18x; font-weight:bold; color:#ffffff; background:#4b4685; position:relative; left:10px; top:2px;}
		.libraryfind ul li a{display:block; color:#ffffff;}
		.libraryfind ul li span{margin-left:100px; color:#ffffff; font-weight:bold;}
		
		/* 오른쪽 이동메뉴 */
		.library_top_menu{float:right;}
		.library_top_menu ul li{float:left; color:#ffffff; font-weight:bold; width:70px; margin:10px 3px;}
		.library_top_menu ul li.social{float:left; color:#ffffff; font-weight:bold; width:35px; margin:10px 5px;}
		.library_top_menu ul li a{display:block; color:#ffffff;}

	/* 헤더아래부분 */
		
	#bottomheader{height:114px; width:1420px; background:#ffffff; margin:0 auto;}

		/* 도서관로고 */
		.libraryLogo{ float:left; margin:24px 30px 24px 13px; position:relative; top:0; left:0px;} 

		/* 메뉴 */
		.oneDepth{width:1420px; /* background:blue; */ height: 114px; margin:0 auto;}
		.oneDepth li:hover .twoInner{display:block; opacity:0.8;}

		.oneInner{height:114px; /* background:green; */ position:relative; top:0; left:0;}
		.oneInner>ul>li{width:150px; height:114px; /* background:yellow; */ margin:0 10px;}
		.oneInner>ul>li>a{ display:block; text-align:center; line-height:114px; margin:0 10px; font-size:18px; font-weight:bold; /* font-family: Dotum, '돋움', sans-serif; */}
		
		.twoDepth > ul{float:left; }
		.twoDepth ul li a{color:#666666;}
		.twoDepth{width:1420px; margin:0 auto;}

		.twoInner{height:300px; width:100%; background:#ffffff; margin:0 auto; position:absolute; top:114px; left:0; text-align:center; display:none; font-size:14px; border-top:1px dotted #aaaaaa;}
		.twoInner .boxblank{ /* background:#4a444f; */ width:348px; height:450px; margin-right:1px;}
		.twoInner .box1{ width:150px; height:300px; border-right:1px dotted #aaaaaa; padding:0 10px; line-height:35px; font-weight:bold;}
		.twoInner .box2{ width:150px; height:300px; border-right:1px dotted #aaaaaa; padding:0 5px; line-height:35px; font-weight:bold;}
		.twoInner .box3{ width:150px; height:300px; border-right:1px dotted #aaaaaa; padding:0 10px; line-height:35px; font-weight:bold;}
		.twoInner .box4{ width:150px; height:300px; border-right:1px dotted #aaaaaa; padding:0 10px; line-height:35px; font-weight:bold;}
		.twoInner .box5{ width:150px; height:300px; border-right:1px dotted #aaaaaa; padding:0 10px; line-height:35px; font-weight:bold;}
		.twoInner .box6{ width:150px; height:300px; padding:0 10px; line-height:35px; font-weight:bold;}



/* 섹션 */

section{width:100%; height:1300px; /* background:red; */}
#section{width:1420px; height:1300px; background:red; margin:0 auto;}





/* 푸터 */

footer{width:100%; height:200px; /* background:green; */}